.btn {
	font-family: $headings-font-family;
}

.has-blue-background-color {
	.btn-white {
		&:hover {
			background: $secondary;
		}
	}
}

.btn-white {
	background: $white;
	color: $primary;

	&:hover {
		background: $primary;
		color: $white;
	}
}

.btn-dark {
	background: $darkgray;
	color: $white;

	&:hover {
		background: $lightgray;
		color: $black;
	}
}

.wp-block-button__link {
	font-family: $headings-font-family;
	color: #fff;
	background-color: $primary;
	font-weight: 400;
	font-size: 1rem;
	border: 0;
	border-radius: .25rem;
	padding: .375rem .75rem;

	&:hover {
		text-decoration: none;
		background-color: darken($primary, 15%);
	}
}