// Colors

.entry-content {
	.has-blue-background-color {
		background-color: $primary;

		a:not(.btn) {
			color: $secondary;
		}
	}
	
	.has-blue-color {
		color: $primary;
	}
	
	.has-red-background-color {
		background-color: #aa1111;

		a:not(.btn) {
			color: $primary;
		}
	}
	
	.has-red-color {
		color: $secondary;
	}
	
	.has-light-gray-background-color {
		background-color: $lightgray;
	}
	
	.has-light-gray-color {
		color: $lightgray;
	}
	
	.has-dark-gray-background-color {
		background-color: $darkgray;
	}
	
	.has-dark-gray-color {
		color: $darkgray;
	}
}