body {
	-webkit-font-smoothing: antialiased;

	a {
		transition: 0.2s;
	}

	#page-wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}

	#full-width-page-wrapper {
		padding-top: 0;
		padding-bottom: 0;
	}
}

#content {
	padding-top: 2rem;
}

.entry-content {
	.alignfull {
		width: 100vw;
		margin: 3rem 0;
		padding: 3rem 1rem;
		margin-left: calc(50% - 50vw);

		@include media-breakpoint-up(md) {
			margin-left: calc(49.33% - 50vw);
			padding: 3rem 0;
		}

    	.wp-block-columns {
    		margin: 0 auto;
    		padding: 0 15px;
    		max-width: 1140px;
    	}
	}
}